.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px;
}

.main-message {
  font-size: 20px;
  margin-bottom: 16px;
}

.challenge {
  font-weight: 600;
}

.error {
  color: tomato;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 36px;
}
